*{
    font-family: 'Poppins', sans-serif;
}
.slider-height{
    height: 60vh;
}
.navbar{
    background-color:rgb(220, 20, 60);
    top: 0;
    z-index:1;
}
.navbar a{
   color: aliceblue; 
}
.navbar a img{
    width: 20vw;
    height: 30px;
    border-radius: 30%;
}
.icon-style{
    color: rgb(255, 255, 255);
    font-size: 28px;
}
.dropdown{
    position: relative;
}
.dropdown-menu[data-bs-popper] {
    background-color: #fff;
    width: 50%;
}
.dropdown-menu li{
    border-bottom: 1px solid #808080;
}
.dropdown-menu li a{
    color: black;
}
.dropdown-menu li a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(8, 8, 8);

}
.navbar-collapse{
    text-align: center;
    width: 60%;
}
.card{
    border:none;
}
.we-are{
    text-align: justify;
}    
.card{
    height: Auto;
}
.card img{
    width: 70%;
    height: 25vh;
    margin: 0 auto;
    border-radius: 10%;
}